html, body 
{
  height: 99%;
  margin: 0;
}

body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("/img/extra_clean_paper.png"); 
}

.navbar
{
	height: 56px;
}

.bg-navbar
{
	background-color: #00b8e6;
}

.navbar-nav .active>.nav-link
{
	margin-left: 15px;
}

.navbar-nav .nav-link
{
	margin-left: 15px;
}

.navbar-nav > li > a
{
	color: white !important;
	font-weight: 700;
	font-size: 18px;
}

.navbar-nav > li > a:hover
{
	color: #d9d9d9 !important;
}

.navbar-nav > li > .dropdown-menu
{
	background-color: #00b8e6 !important;
}

.navbar-collapse
{
	background-color: #00b8e6 !important;
	z-index: 1;
	border-radius: 15px;
}

.navbar-nav > li > .dropdown-menu > a
{
	color: white !important;
	font-weight: 700;
	font-size: 18px;
}

.navbar-nav > li > .dropdown-menu > a:hover
{
	color: #d9d9d9 !important;
	background-color: #00b8e6;
}

.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}

.jumbotron
{
	background-color: white;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

a:link
{
	color: #00b8e6 !important;
	text-decoration: none;
}

a:visited
{
	color: #00b8e6 !important;
	text-decoration: none;
}

a:hover
{
	color: #00b8e6 !important;
	text-decoration: underline;
}

a:active
{
	color: #00b8e6 !important;
	text-decoration: underline;
}

.page-header h1
{
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
}

.page-header p
{
	font-size: 12px;
	color: #808080;
	letter-spacing: 2px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited
{
	background-color: #00b8e6 !important;
	border-color: #00b8e6 !important;
}

.btn-primary:hover
{
	background-color: #08a5cc !important;
}


.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited
{
	margin: 8px;
	padding: 8px;
}


.table
{
	font-size: 14px;
	line-height: 1;
	text-align: center;
	position: static;
}

.footer, .push
{
	height: 138px;
}

.wrapper
{
	min-height: 100%;
	margin-bottom: -138px;
}

.error
{
	color: red !important;
}


input.form-control[type=email],
input.form-control[type=password]
{
	max-width: 320px !important;
}
/*
input.form-control[type='text']
{
	max-width: 320px !important;
}
*/
button[type=submit]
{
	width: 180px;
	margin: 8px;
	padding: 8px;
	font-size: 17px;
}

.form-control
{
	margin: auto;
}

.form-group
{
	padding: 3px;
}

li
{
	list-style-type: none;
}

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 3rem;
}

.alert-success {
	max-width: 420px !important;
	margin: auto;
	margin-bottom: 15px;
}

.alert-warning {
	max-width: 420px !important;
	margin: auto;
	margin-bottom: 15px;
}

.alert-info {
	max-width: 420px !important;
	margin: auto;
	margin-bottom: 15px;
}

.limit-error {
	color: red;
}

.chartContainer {
	max-height: 200px;
	max-width: 300px;
	margin: auto;
}