{% extends 'base.html' %}

{% block title %}Add income{% endblock %}

{% block js_validate %}

    <script>
        $(document).ready(function() {
		
			$.validator.addMethod(
            "regex",
            function(value, element, regexp) 
            {
                if (regexp.constructor != RegExp)
                    regexp = new RegExp(regexp);
                else if (regexp.global)
                    regexp.lastIndex = 0;
                return this.optional(element) || regexp.test(value);
            },
            "Please check your input."
			);

            /**
             * Validate the form
             */
            $('#formIncome').validate({
                rules: {
                    amount: {
					 required: true,
					 regex: /^(\d+(?:[\.\,]\d{1,2})?)$/	
					},
					comment: {
						maxlength: 70
					},
					incomeCategories: {
						required: true
					}
				},
				messages: {
					amount: {
						regex: 'Please enter a valid number.'
					}
				}
            });
		});
		
		/**
        * Datepicker
        */
		$('#inputDate').datepicker({
		format: "yyyy-mm-dd",
		endDate: "0d",
		language: "pl",
		autoclose: true
		});

		$('#inputDate').datepicker({
            format:'yyyy-mm-dd',
        }).datepicker("setDate",'now');
		
    </script>
	
{% endblock %}

{% block body %}

    <h3 class="h5 mb-3">Dodaj przychód</h3>

    {% if income.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in income.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/incomes/create" method="post" id="formIncome">

        <div class="form-group">
            <label for="inputAmount" class="sr-only">Kwota</label>
            <input id="inputAmount" name="amount" placeholder="Kwota" value="{{ user.amount }}" required class="form-control" style="max-width: 320px;" />
        </div>
		
		<div class="form-group">
			<label for="inputDate" class="sr-only">Data</label>
			<input type="text" id="inputDate" name="date" required class="form-control"  data-provide="datepicker" style="max-width: 320px" />
		</div>
		
		<div class="form-group">
            <label for="incomeCategories" class="sr-only">Kategoria</label>
            <select name="incomeCategories" class="custom-select" style="max-width: 320px;">
			
					<option value="" disabled selected>Wybierz kategorię</option>
				
				{% for incomeCategory in incomeCategories %}
			
					<option value="{{ incomeCategory.name }}">{{ incomeCategory.name }}</option>

				{% endfor %}
				
			</select>
        </div>
		<div class="form-group">
			<label for="comment" class="sr-only">Komentarz</label>
			<textarea id="comment" class="form-control" name="comment" rows="2" placeholder="Komentarz" style="max-width: 320px;"></textarea>
		</div>

		<button type="submit" class="btn btn-lg btn-primary">Dodaj</button>

    </form>

{% endblock %}
